deploy-username: <pws-username>
deploy-password: <pws-password>
pws-organization: <pws-org-name>
pws-space: <pws-stage-space-name>
pws-api: <pws-api-url>
pws-app-suffix: app-hello
pws-app-domain: cfapps.io
gcp_service_account_key: |
  {
    "type": "service_account",
    "project_id": ......
  }
GCP_BUCKET: concourse-qaas
stack-file: environments/application-spec.json
GIT_APP-CONFIG: https://github.com/ciberkleid/app-config 
C2C: "Y"
pipeline-git-url: https://github.com/ciberkleid/cna-demo-setup.git
pipeline-git-branch: pipeline-single