deploy-username: <pws-username>
deploy-password: <pws-password>
pws-organization: <pws-org-name>
pws-space: <pws-stage-space-name>
pws-api: <pws-api-url>
pws-app-suffix: app-hello
pws-app-domain: cfapps.io
gcp_service_account_key: |
  {
    "type": "service_account",
    "project_id": ......
  }
GCP_BUCKET: concourse-qaas
C2C: "Y"
service-A-git-url: https://github.com/ciberkleid/greeting-ui.git
service-B-git-url: https://github.com/ciberkleid/fortune-service.git
pipeline-git-url: https://github.com/alekssaul/concourse-QAaaS.git